/*
| Styles for admin panel menu
*/

.admin-menu {
    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        img {
            height: 40px;
        }
    }
}
